/*define variables*/
:root{
    --primary-bg-color:#333333;
    --primary-text-color:#efefef;
}

body{
    background-color: var(--primary-bg-color);
}

h2 {
	text-align: center;
    color: var(--primary-text-color);
    border: 3px solid var(--primary-text-color);
	border-radius: 0.5em;
	margin: 1.5em 4em;
	padding: 10px;
    box-shadow: 5px 5px rgba(154, 154, 154, 0.2);
}

h4 {
    color: var(--primary-text-color);
}
